* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

nav {

}

nav a {
    text-decoration: none;
    background-color: white;
    padding: 1rem;
    display: inline-block;
    border-radius: 50%;
}

h2 {
    max-width: 100%;
    margin: 0 auto;
    font-size: 3.5rem;
    font-weight: bold;
}

img {
    max-width: 100%;
}

/* utilities
*************/

.red {
    background-color: red;
}

.green {
    background-color: green ;
}

.yellow {
    background-color: yellow;
}

/* main
********/

.button_select {
/*     width: 15%; */
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 0;
    position: sticky;
    float: right;
}

.button_select div {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 5px;
}

.container {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    position: relative ;
}

.model_shoes {
    height: 100vh;
    position: relative;
}

.red > .item,
.green > .item {
    color: yellow;
}

.yellow > .item {
    color: green;
}

.item {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
}