* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
}

img {
    max-width: 100%;
}

/* variables
*************/

:root {
    --first_section-color: red;
    --second_section-color: green;
    --third_section-color: yellow;
    --relevant_text-color: yellow;
    --secondary_text-color: green;
    --button_text-color: black;
    --bk_button-color: white;
}

/* utilities
*************/

.red {
    background-color: var(--first_section-color);
}

.green {
    background-color: var(--second_section-color) ;
}

.yellow {
    background-color: var(--third_section-color);
}

/* main
********/

.button_select {
    position: sticky;
    z-index: 1000;
    right: 0;
    top: 20px;
    float: right;
}

.button_select div {
    display: inline-block;
    margin: 0 15px;    
}

.button_select a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--button_text-color);
    background-color: var(--bk_button-color);
    line-height: 40px;
    border-radius: 50%;
    box-shadow: 2px 2px 20px 2px black;
}

.container {
    text-align: center;
    position: relative ;
}

.model_shoes {
    height: 100vh;
    position: relative;
}

.item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item h2 {
    max-width: 80%;
    margin: 0 auto;
    font-size: 3rem;
    font-weight: bold;
}

.red > .item,
.green > .item {
    color: var(--relevant_text-color);
}

.yellow > .item {
    color: var(--secondary_text-color);
}